<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="navbar-header">
      <a class="navbar-brand" routerLink="/" style="color: rgb(130, 252, 8);">ABC Health Care</a>
  </div>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
              <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active"><a class="nav-link" href="#about">About Us |</a></li>

          <li class="nav-item active"><a class="nav-link" routerLink="/register" Activerouter>Register |</a></li>

          <li class="nav-item active"><a class="nav-link" routerLink="/login">login </a></li>




      </ul>

  </div>
</nav>

<div style="display: flex;justify-content: space-evenly;">
    <div class="container" style="margin-top: 15%;margin-left: 10%;">
        <h3>Register</h3>

        <input type="text" class="form-control" placeholder="Enter Name"
            [(ngModel)]='newUname'> <br>
        <input type="password" class="form-control" placeholder="Enter the password"
            [(ngModel)]='newPwd'> <br>
            
        <input type="text" class="form-control" placeholder="Enter the Location"
        [(ngModel)]='location'> <br>
        <input type="email" class="form-control" placeholder="Enter mail id"
            [(ngModel)]='mail'> <br>
            <input type="text" class="form-control" placeholder="Enter Mobile"
            [(ngModel)]='newMobile'> <br>
        <button style="margin-top: 1%; width:200px;" class="btn btn-success" (click)='addCust()'>Register</button>

    </div>
    <div class="full">
    </div>
   
</div>