<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="navbar-header">
        <a class="navbar-brand" routerLink="/" style="color: rgb(130, 252, 8);">ABC Health Care</a>
    </div>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       
            <li class="nav-item active"><a class="nav-link" routerLink="/medicines/{{email}}">Medicine List|</a></li>

            <li class="nav-item active"><a class="nav-link" routerLink="/search" Activerouter>Search |</a></li>

            <li class="nav-item active"><a class="nav-link" routerLink="/sorted">sorted Lsit |</a></li>

            <li class="nav-item active"><a class="nav-link" routerLink="/prevOrder/{{email}}">order History |</a></li>
            <li class="nav-item active"><a class="nav-link" routerLink="/cart/{{email}}">View Cart |</a></li>
            <li class="nav-item active"><a class="nav-link" (click)='logout()'>Logout </a></li>
        </ul>

    </div>
</nav>

<div class="card col-lg-4 offset-md-4" style="text-align: center;margin-top: 5%;">
    <h4 class="card-title" style="margin-top: 3%;">Order Confirmation</h4>
    <div style="width: 150px; ">
    <img style="margin-left: 120%;" class="card-img-top" src="../../../assets/images/success.png" height="150px" alt="">
    </div>
    <div class="card-body">
        
        <p style="color: green; font-weight: bold;font-size: large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="card-text">Purchase was Successfull!!!</p>
    <p>Thank you for Shopping </p>
    <button type="button" routerLink="/sorted" class="btn btn-primary" style="padding-left: 10%;padding-right: 10%;">Done</button>
    </div>
</div>