
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="navbar-header">
        <a class="navbar-brand"routerLink="/" style="color: rgb(130, 252, 8);">ABC Health Care</a>
      </div>
         <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                  <a class="nav-link" routerLink="/adminHome/{{email}}" >Home <span class="sr-only">(current)</span></a>
              </li>
              <li  class="nav-item active"><a class="nav-link" routerLink="/addCategory" Activerouter>Add Category |</a></li>
       
              <li  class="nav-item active"><a class="nav-link" routerLink="/addMedicine">Add Medicine |</a></li>
              
              <li  class="nav-item active"><a class="nav-link" routerLink="/adminMedicines">Medicines |</a></li>
              
              <li  class="nav-item active"><a class="nav-link" routerLink="/categories">Categories |</a></li>
              
              <li  class="nav-item active"><a class="nav-link" routerLink="/users">Users |</a></li>

              <li  class="nav-item active">
                  <a class="nav-link" routerLink="/statusMedicines">Change Status of Medicine | </a>
                </li>
                <li  class="nav-item active">
                    <a class="nav-link" (click)='logout()'>Logout</a>
                  </li>  
                     </ul>
          
      </div>
  </nav>
<div class="card col-lg-4   offset-md-4" style="margin-top: 3%;">
  <img class="card-img-top" src="../../../assets/images/category.png" alt="">
  <div class="card-body">
    <h3>Add Category</h3>

      <input type="text"  class="form-control" placeholder="Name of Category" aria-describedby="helpId" [(ngModel)]='category.name' > <br>
     
      <button style="margin-top: 1%; width:200px;" class="btn btn-success" (click)='postCategoriesViaService()'>Add Category</button>

  </div>
</div>