
.footer {
    position:relative;
    left: 0;
    bottom: 0;
    padding-top: 1%;
    padding-bottom: 0.5%;
    width: 100%;
    background-color:rgba(167, 151, 151, 0.473);
    color:black;
    text-align:center;
  }